{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}
<div class="container my-5">
    <form action="/search" method="POST">
        <div class="row mb-3">
            <label for="searchtext" class="col-sm-2 col-form-label">Search Text</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="searchtext" name="searchtext" placeholder="Please Enter Channel Name Here">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">SEARCH</button>
    </form>
</div>
{% endblock body %}